body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    font-size:14px;
    padding:5%;
}

.header{
    display:flex;
    margin-left:3%;
}

.right-header img{
    height:250px;
    margin-left:75%;
}

.content{
    display:grid;
    grid-template-columns: 250px 2fr;
    column-gap: 15px;
}

.left-part{
    justify-self:flex-end;
    margin-top:20px;
}

.left-part img{
    margin-right: 3px;
}

.right-part{
    margin-top:20px;
}

.align {
    display:flex;
    align-items:center;
}

a{
    text-decoration:none;
    color:black;
}

a img{
    margin-right:15px;
}

.profiles :first-child{
    margin-top:5px;
}

.about-me{
    list-style:none;
}

.about-me h1{
    font-size:18px;
    font-weight: 550;
}

.about-me img{
    margin-right:5px;
}

.linie{
    position:absolute;
    height:480px;
    width:1px;
    border-right:1px solid black;
    margin-left:255px;
}

.left-header h1{
   margin-bottom:-14px;
}

.left-header h2{
    margin-top:70px;
}

.primul{
    margin-left:94px;
}

.proiecte{
    list-style:none;
}

.proiecte li{
    font-size:16px;
}

.titlu-lista{
    font-size:16px;
    font-weight:550;
}

@media(max-width:600px){
    body{
        zoom:47%;
        font-size:18px;
    }

    #left{
        margin-left:58px; 
    }

    .linie{
        height:520px;
    }
}